<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"] | Voxalia by Frenetic LLC</title>
	<link rel="stylesheet" type="text/css" href="/css/voxalianet.css">
	<meta charset="utf-8">
</head>
<body>

@RenderBody()

</html>
