@{
    ViewData["Title"] = "Internal Error";
    ViewData["Description"] = "Internal Error: Systems malfunction.";
}

Sorry, it appears something went horrendously wrong on the inside.
<br>Please <a href="/Home/Contact">tell us about this</a>!
