@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "Voxalia!";
}
<div class="fullscreen-bg">
    <video loop muted autoplay poster="/video/voxalia_backdrop_v4_frame.png" class="fullscreen-bg__video" preload="none">
        <source src="https://cdn.freneticllc.com/backdrop_voxalia_v4.mp4" type="video/mp4">
    </video>
</div>

<span style="background-color:#FFFFFF77;font-size:64px;">
// TODO: Website!
</span>
