@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "Voxalia!";
}
<div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="/video/backdrop_voxalia.mp4" type="video/mp4">
    </video>
</div>

<span style="background-color:#FFFFFF77;font-size:64px;">
// TODO: Website!
</span>
