@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "Voxalia!";
    ViewData["Body"] = "style=\"background-image:url('/images/index/backdrop_voxalia.gif');background-size:110%;background-position: 0% 10%;\"";
}

<span style="background-color:#FFFFFF77;font-size:64px;">
// TODO: Website!
</span>
