@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "Voxalia!";
}
<div class="fullscreen-bg">
    <video loop muted autoplay poster="/video/voxalia_backdrop2_frame.png" class="fullscreen-bg__video" preload="none">
        <source src="/video/backdrop_voxalia_v3.mp4" type="video/mp4">
    </video>
</div>

<span style="background-color:#FFFFFF77;font-size:64px;">
// TODO: Website!
</span>
