@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "Voxalia!";
}
<div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video" preload="none">
        <source src="https://cdn.freneticllc.com/voxtestclips/idle_grass.mp4" type="video/mp4">
    </video>
</div>

<div class="page_contents">
    <div class="partial_spacer"></div>
    <span class="voxalia_title">
        Voxalia
    </span>
    <div class="partial_spacer"></div>
    <span class="voxalia_description">
        Voxalia is an early-development game about controlling your world!
        <br>
        <br>Voxalia is set in a Voxel-based world (thus the name) and heavily emphasizes free customization of every detail.
        <br>
        <br>Voxalia is being developed by <a href="https://freneticllc.com"><img src="https://freneticllc.com/images/header/freneticllc.png" width="32"/>Frenetic LLC</a>.
        <br>
        <br>Consider supporting our <a href="https://igg.me/at/voxalia/">Crowdfunding Campaign</a>!
        <br>
        <br>If you want to contact us about Voxalia, for now the place to do so is our <a href="https://freneticllc.com/Go/Discord">Discord group</a>.
    </span>
</div>
