@{
    ViewData["Title"] = "Launcher View";
    ViewData["Description"] = "Voxalia!";
}

<div class="page_contents">
    <center>
        <h1>Welcome to Voxalia!</h1>
        <br><br>
        Use the login options above to log in to your Frenetic test account, then press "<b>Play Voxalia</b>".
        <br><br>
        If you're confused about where you are... you probably shouldn't be here.
</div>
