/* Voxalia.net CSS */

body {
  background-color: #AAAAAA;
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
  height: 100%;
}
.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

.page_contents {
    text-align: center;
}
.voxalia_title {
    background-color: #FFFFFF33;
    font-size: 256px;
    display: inline-block;
}
.partial_spacer {
  height: 200px;
}
.voxalia_description {
    background-color: #FFFFFF77;
    font-size: 32px;
    display: inline-block;
}
